/* App.css */

.App {
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center horizontally */
  justify-content: flex-start; /* Start from the top */
  min-height: 100vh; /* Ensure full height of the viewport */
  padding: 20px; /* Optional padding for aesthetics */
  box-sizing: border-box; /* Ensure padding doesn't affect width */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  width: 100%; /* Make the header full width */
  background-color: #282c34; /* Dark background by default */
  color: white;
  padding: 20px 0; /* Optional padding for header */
  display: flex; /* Use flexbox to center items in the header */
  justify-content: center; /* Center navbar items */
}

.App-content {
  width: 100%; /* Full width on smaller screens */
}

/* Light Theme Styles */
.light {
  background-color: #f8f9fa; /* Light background */
  color: #000; /* Light text color */
  min-height: 100vh;
}


/* Dark Theme Styles */
.dark {
  background-color: #282c34; /* Dark background */
  color: #fff; /* Dark text color */
  min-height: 100vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
